#setting-content {
  background-color: #fff;
}


#setting-form {
  margin-top: 5px;
}

.widthbtn {
  width: 100%;
}

#icon-img {
  width: 100%;
}

.padtop7px {
  padding-top: 7px;
}

#invite-envelope {
  padding: 7px;
  background-color: #fff;
}

.myarrow {
  float: right;
}
